* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    overflow-x: hidden;
    overflow-y: auto;
  }

 h1 {
      color: #fff;
      margin-top: 40px;
      margin-left: 250px;
  }
  
  /*Section for the landing page*/
  .header {
    width: 100%;
    height: 100vh;
    background: #ff0000;
  }
  
  /*navigation bar*/
  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    font-family: "Inter", sans-serif;
  }
  
  .heading {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
   }

   .heading h4 {
    font-family: "Inter", sans-serif;  
   }
  
  .nav-links {
    display: flex;
    justify-content: space-around;
    width: 30%;
  }
  
  .nav-links li {
  list-style: none;
  }
  
  .nav-links a {
  color: white;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
  padding: 10px 10px;
  }
  
  /*landing page styling*/
  
  .intro .introheader h1 {
    font-family: "Inter", sans-serif;
    font-size: 28px;
    color: #ffff00;
    margin-left: 250px;
    margin-top: 100px ;
  }
  
  .intro .introdesc p {
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 80px;
    color: #fff;
    margin-left: 250px;
  }
  
  img {
    width: 30%; 
    height: 30%; 
    float: right;
     margin-right: 250px; 
     border-radius: 30px;
  }

  .main h2 {
margin-top: 50px;
color: #172b4d;
font-size: 60px;
margin-left: 250px;
  }

  .main p{
    margin-top: 50px;
    color: #505050;
    font-size: 25px;
    margin-left: 250px;
      }